
@{
    ViewBag.Title = "Index";
}
<body class="text-bg-dark">

    <main class="text-bg-dark">
        <section class="pb-0 py-sm-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-xxl-8">
                        <div class="row g-4">
                            <div class="d-flex justify-content-center">
                                <button onclick="selectChannels()" id="channelbtn" class="btn btn-primary w-50 border-0 border-bottom border-right border-primary" style="background-color: transparent">
                                    Channels
                                    <c:set var="selection" value="channels" />
                                </button>
                                <button onclick="selectUsers()" id="userbtn" class="btn btn-primary w-50 border-0 border-bottom border-left border-primary" style="background-color: transparent">
                                    Users
                                    <c:set var="selection" value="users" />
                                </button>
                            </div>


                            <div class="overflow-auto" style="height: 70vh">
                                <div style="display: none" id="channellist">
                                    @{
                                        foreach (Net3.Services.Channel.Services.Models.AdminChannelModel channel in ViewBag.ChannelList)
                                        {
                                            <div class="container">
                                                <div class="row border m-1 p-1">
                                                    <div class="col-md-6 text-start d-flex flex-column">
                                                        <div class="mt-2">
                                                            <strong>@channel.ChannelId</strong>
                                                        </div>
                                                        <div class="mb-2">
                                                            @{
                                                                if (ViewBag.ChannelCount == 1)
                                                                {
                                                                    <span class="me-2">@channel.UsersInChannel user is in this channel</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="me-2">@channel.UsersInChannel users are in this channel</span>
                                                                }
                                                            }


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>

                                <div style="display: none" id="userlist">
                                    @{
                                        foreach (Net3.Services.User.UserServices.Models.AdminUserModel user in ViewBag.UserList)
                                        {
                                            <div class="container">
                                                <div class="row border m-1 p-1">
                                                    <div class="col-md-6 text-start d-flex flex-column">
                                                        <div class="mt-2">
                                                            <strong>@user.UserID</strong>
                                                        </div>
                                                        <div class="mb-2">
                                                            <span class="me-2">Total Messages: @user.MessageCount</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
        </section>
    </main>

    <script>
        function selectChannels() {
            var channellist = document.getElementById('channellist');
            var channelbutton = document.getElementById('channelbtn');

            channellist.style.display = channellist.style.display = '';
            channelbutton.style.backgroundColor = channelbutton.style.backgroundColor = 'blue';


            var userlist = document.getElementById('userlist');
            var userbutton = document.getElementById('userbtn');

            userlist.style.display = userlist.style.display = 'none';
            userbutton.style.backgroundColor = userbutton.style.backgroundColor = 'transparent';
        }

        function selectUsers() {
            var channellist = document.getElementById('channellist');
            var channelbutton = document.getElementById('channelbtn');

            channellist.style.display = channellist.style.display = 'none';
            channelbutton.style.backgroundColor = channelbutton.style.backgroundColor = 'transparent';

            var userlist = document.getElementById('userlist');
            var userbutton = document.getElementById('userbtn');

            userlist.style.display = userlist.style.display = '';
            userbutton.style.backgroundColor = userbutton.style.backgroundColor = 'blue';
        }
    </script>

</body>