
@{
    ViewBag.Title = "Chatting";
}

<body class="text-bg-dark">
    <button class="btn btn-primary align-self-center mb-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Channel Management
    </button>

    <div class="offcanvas offcanvas-start text-bg-dark overflow-auto" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Channel Management</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <hr>
            <div class="dropdown text-bg-dark">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Join Channel
                </button>
                <form class="dropdown-menu p-4 text-bg-dark" action="Chat/Join" method="post">
                    <div class="mb-3">
                        <label for="joinchannelid" class="form-label">Channel ID</label>
                        <input class="form-control" id="joinchannelid" name="joinchannelid" placeholder="Channel ID">
                    </div>
                    <div class="mb-3">
                        <label for="joinchannelpassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="joinchannelpassword" name="joinchannelpassword" placeholder="Password">
                    </div>
                    <input type="hidden" name="formtype" value="join">
                    <button type="submit" class="btn btn-primary">Join</button>
                </form>
            </div>
            <div>
                Or
            </div>
            <div class="dropdown text-bg-dark">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Create Channel
                </button>
                <form class="dropdown-menu p-4 text-bg-dark" action="Chat/Create" method="post">
                    <div class="mb-3 text-bg-dark">
                        <label for="createchannelid" class="form-label">Channel ID</label>
                        <input class="form-control" id="createchannelid" name="createchannelid" placeholder="Channel ID">
                    </div>
                    <div class="mb-3">
                        <label for="createchannelpassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="createchannelpassword" name="createchannelpassword" placeholder="Password">
                    </div>
                    <input type="hidden" name="formtype" value="create">
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
            <hr>
            <p>Channels</p>
            <hr>

            @{
                foreach (Net3.Frontend.DataObjects.Models.ChannelModel channel in ViewBag.Channels)
                {
                    <div class="dropdown mt-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                            @channel.ChannelId
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <form action="~/Chat/ViewMessages" method="post">
                                    <button class="dropdown-item btn" type="submit" name="channelId" value="@channel.ChannelId">View Channel</button>
                                </form>
                            </li>
                            @{
                                if (channel.ChannelRole.Equals("Creator"))
                                {
                                    <li>
                                        <form action="~/Chat/Delete" method="post">
                                            <button class="text-danger border-0 btn" type="submit" name="channelId" value="@channel.ChannelId">Delete Channel</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <form action="~/Chat/Leave" method="post">
                                            <button class="text-danger border-0 btn" type="submit" name="channelId" value="@channel.ChannelId">Leave Channel</button>
                                        </form>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
            }


            <hr>
        </div>


    </div>


    <!--Chat-->
    <div class="border border-white border-bottom-0 overflow-auto d-flex justify-content-center" style="height: 75vh">
        <div class="container">
            @{
                if (ViewBag.Messages != null)
                {
                    foreach (Net3.Frontend.DataObjects.Models.MessageModel message in ViewBag.Messages)
                    {
                        <div class="row justify-content-md-start mt-1 mb-1 border-bottom border-white">
                            <div class="col col-1">
                                @message.TimeSent.ToString("g")
                            </div>
                            <div class="col-md-auto">
                                @message.UserID
                            </div>
                            <div class="col-md-auto">
                                @message.Content
                            </div>
                        </div>
                    }
                }


            }

        </div>


        </div>
    <!--Text box-->
    <div class="border border-white border-top-0 d-flex justify-content-start">
        <form action="~/Chat/SendMessage" method="post">
            <input type="text" name="message"
                   class="form-control text-bg-dark"
                   placeholder="Write message..." />

            <span class="input-group-text send-icon">
                <button type="submit" class="border-0 text-bg-primary">Send</button>
            </span>
        </form>
    </div>



</body>